<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Registration</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  </head>

  <body>
        <section class="min-vh-100 d-flex align-items-center justify-content-center">
          <div class="container-fluid h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 mb-5">
              <div class="col-8 col-md-10 col-lg-6 col-xl-5 mb-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
                  alt="Sample image">
              </div>
              <div class="col-8 col-md-10 col-lg-6 col-xl-5 offset-xl-1 mb-5 mt-5">
                <!-- <h1 class="display-2 mb-5 mt-5">Log in</h1> -->
                <form th:action="@{/login}" method="post" th:object="${userModel}">
                  <div th:if="${error}">
                    Unable to login. Check your username and password.
                    </div>
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="text" id="username" class="form-control form-control-lg"
                      placeholder="Enter your Username" name="username" th:field="*{username}"/>
                    <label class="form-label" for="username">Username</label>
                  </div>
        
                  <!-- Password input -->
                  <div class="form-outline mb-3">
                    <input type="password" id="password" class="form-control form-control-lg"
                      placeholder="Enter password" name="password" th:field="*{password}"/>
                    <label class="form-label" for="password">Password</label>
                  </div>
        
                  <div class="d-flex justify-content-between align-items-center">
        
                  <div class="text-center text-lg-start mt-4 pt-2 ml-0">
                    <button type="submit" class="btn btn-primary btn-lg align-content-center" value="Login/">Log in</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a th:href="@{/register}" class="link-danger">Register</a></p>
                  </div>
        
                </form>
              </div>
            </div>
            
          </div>
        </section>


    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>


