<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Registration</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  </head>

  <body>


    <section class="min-vh-100 d-flex align-items-center justify-content-center">
      <div class="container-fluid h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 mb-5">
          <!-- <div class="col-8 col-md-10 col-lg-6 col-xl-5 mb-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
              alt="Sample image">
          </div> -->
          <div class="col-8 col-md-9 col-lg-8 col-xl-8 d-flex flex-column justify-content-center align-items-center mb-5 mt-5">
            <h1 class="display-2 mb-5 mt-5">Registration</h1>
            <form th:action="@{/register}" method="post" th:object="${tempUser}" enctype="multipart/form-data" class="col-lg-6">
    
              <!-- First Name input -->
              <div class="form-outline mb-4">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control" id="first-name" aria-describedby="first-name" placeholder="First Name" th:field="*{firstName}">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" ></div>
              </div>
    
              <!-- Last Name input -->
              <div class="form-outline mb-3">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name" aria-describedby="last-name" placeholder="Last Name" th:field="*{lastName}">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" ></div>
              </div>
              <!-- Username input -->
              <div class="form-outline mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username" th:field="*{username}">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></div>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></div>
              </div>

              <!-- Profile image input -->
              <div class="form-outline mb-3">
                <label for="profile-picture">Profile Picture</label>
                <input type="file" class="form-control-file" id="profile-picture" name="image" accept="image/png, image/jpeg">
              </div>
    
              <div class="d-flex justify-content-between align-items-center">
    
              <div class="text-center text-lg-start mt-4 pt-2 ml-0">
                <button type="submit" class="btn btn-primary btn-lg align-content-center">Sign up</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a th:href="@{/login}"
                    class="link-danger">Log in</a></p>
              </div>
    
            </form>
          </div>
        </div>
        <form method="POST" th:action="@{/logout}">
          <input type="submit" value="Logout"/>
          </form>
        
      </div>
    </section>
    
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>